@font-face {
  font-family: 'ReservaSans';
  src: url('fonts/ReservaSans/ReservaSans-Regular.eot');
  src: url('fonts/ReservaSans/ReservaSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/ReservaSans/ReservaSans-Regular.woff') format('woff'),
       url('fonts/ReservaSans/ReservaSans-Regular.ttf') format('truetype'),
       url('fonts/ReservaSans/ReservaSans-Regular.svg#Reserva Sans Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ReservaSansBlack';
  src: url('fonts/ReservaSans/ReservaSans-Black.eot');
  src: url('fonts/ReservaSans/ReservaSans-Black.eot?#iefix') format('embedded-opentype'),
       url('fonts/ReservaSans/ReservaSans-Black.woff') format('woff'),
       url('fonts/ReservaSans/ReservaSans-Black.ttf') format('truetype'),
       url('fonts/ReservaSans/ReservaSans-Black.svg#Reserva Sans Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ReservaSansMedium';
  src: url('fonts/ReservaSans/ReservaSans-Medium.eot');
  src: url('fonts/ReservaSans/ReservaSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/ReservaSans/ReservaSans-Medium.woff') format('woff'),
       url('fonts/ReservaSans/ReservaSans-Medium.ttf') format('truetype'),
       url('fonts/ReservaSans/ReservaSans-Medium.svg#Reserva Sans Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ReservaSansBold';
  src: url('fonts/ReservaSans/ReservaSans-Bold.eot');
  src: url('fonts/ReservaSans/ReservaSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/ReservaSans/ReservaSans-Bold.woff') format('woff'),
       url('fonts/ReservaSans/ReservaSans-Bold.ttf') format('truetype'),
       url('fonts/ReservaSans/ReservaSans-Bold.svg#Reserva Sans Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ReservaSansThin';
  src: url('fonts/ReservaSans/ReservaSans-Thin.eot');
  src: url('fonts/ReservaSans/ReservaSans-Thin.eot?#iefix') format('embedded-opentype'),
       url('fonts/ReservaSans/ReservaSans-Thin.woff') format('woff'),
       url('fonts/ReservaSans/ReservaSans-Thin.ttf') format('truetype'),
       url('fonts/ReservaSans/ReservaSans-Thin.svg#Reserva Sans Thin') format('svg');
  font-weight: normal;
  font-style: normal;
  color: black;
}

@font-face {
  font-family: 'ReservaSerif';
  src: url('fonts/ReservaSerif/ReservaSerif-Regular.eot');
  src: url('fonts/ReservaSerif/ReservaSerif-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/ReservaSerif/ReservaSerif-Regular.woff') format('woff'),
       url('fonts/ReservaSerif/ReservaSerif-Regular.ttf') format('truetype'),
       url('fonts/ReservaSerif/ReservaSerif-Regular.svg#Reserva Serif Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ReservaSerifMedium';
  src: url('fonts/ReservaSerif/ReservaSerif-Medium.eot');
  src: url('fonts/ReservaSerif/ReservaSerif-Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/ReservaSerif/ReservaSerif-Medium.woff') format('woff'),
       url('fonts/ReservaSerif/ReservaSerif-Medium.ttf') format('truetype'),
       url('fonts/ReservaSerif/ReservaSerif-Medium.svg#Reserva Serif Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


#reserva-landing-container {
  font-size: calc(1em + 1vw) !important;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  color: black;
}

#header-placeholder {
  display: block;
  width: 100%;
  height: 59px;
  z-index: 10;
  position: fixed;
  background: #69080c;
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
}


#landing-header {
  display: block;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index:10;
  top: 70px;
}
  #landing-header img {
      width: 10%;
      max-width: 8em;
  }

.page-center {
  text-align: center;
}

.uppercase-text {
  text-transform: uppercase;
}

.page {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  max-height: 1080px;
  z-index:5;
  background: white;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page .landing-page-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.page h1, .page h2, .page h3, .page h4, .page h5, .page strong {
  font-weight: normal;
  margin: 0;
}

.first-page {
  position: fixed;
  width: 100%;
  background: #6D6E71;
  z-index:0;
  top: 0;
  left: 0;
  background-image:url('img/video_placeholder.gif') ;
}

.second-page h2 {
  font-family: 'ReservaSerifMedium';
  font-size: 3.5em;
  padding-bottom: 0.3em;
}

.second-page p {
  font-family: 'ReservaSans';
  font-size: 0.93em;
  line-height: 1.8em;
}
  .second-page p strong{
      font-family: 'ReservaSansBold';
  }

.third-page {
  background-image: url(img/orange.jpg);
  color: white;
}

.third-page h3, .fifth-page h3, .sixth-page h3, .seventh-page h3, .eighth-page h3{
  font-size: 1.4em;
  font-family: 'ReservaSansBlack';
  padding-bottom: 0.8em;
}

.third-page p {
  font-family: 'ReservaSans';
  font-size: 1em;
  line-height: 1.5em;
}

.fourth-page p {
  font-size: 1em;
  line-height: 1.8em;
  font-family: 'ReservaSans';
}

.fifth-page p, .sixth-page p, .seventh-page p, .eighth-page p{
  font-family: 'ReservaSans';
  font-size: 0.9em;
  line-height: 1.8em;
}

.fifth-page {
  background-image: url(img/woman_looking_down.jpg);
}

.sixth-page {
  background-image: url(img/men_smiling.jpg);
}

.seventh-page {
  background-image: url(img/woman_smiling.jpg);
}
  .seventh-page p strong, .eighth-page p strong {
      font-family: 'ReservaSansMedium';
  }

.eighth-page {
  background-image: url(img/woman_food.jpg);
}

.nineth-page {
  background-image: url(img/mom_kids.jpg);
}

.eleventh-page {
  background-image: url(img/kids.jpg);
}

.twelfth-page {
  background-image: url(img/kids_learning.jpg);
}
  

p.landing-slogan {
  font-family: 'ReservaSansBold';
  font-size: 14vh;
  line-height: 16vh;
  color: white;
}

.thirteenth-page .landing-page-content {
  display: flex;
  margin: 0 auto;
  text-align: left;
  justify-content: center;
  padding: 20px;
}

  .thirteenth-page .landing-page-content .content{
      height: 70vh;
      height: calc(var(--vh, 1vh) * 70);
      position: relative;
      left: 40px;
  }

.thirteenth-page .heading {
  font-family: 'ReservaSansBold';
  line-height: 1.6em;
  font-size: calc(var(--vh, 1vh) * 4);
  display: block;
  padding-top: 5vh;
  padding-top: calc(var(--vh, 1vh) * 5);
  padding-bottom: 5vh;
  padding-bottom: calc(var(--vh, 1vh) * 5);
}

.thirteenth-page .text {
  font-family: 'ReservaSans';
  font-size: 2.3vh;
  font-size: calc(var(--vh, 1vh) * 2.3);
  display: block;
}

.thirteenth-page .bib {
  font-family: 'ReservaSansThin';
  font-size: 1.5vh;
  font-size: calc(var(--vh, 1.5vh));
  color: #6D6E71;
  display: block;
  padding-top: 8px;
  padding-bottom: 30px;
}

.thirteenth-page .high-text {
  font-family: 'ReservaSansBold';
  line-height: 1.5em;
  font-size: 2.3vh;
  font-size: calc(var(--vh, 1vh) * 2.3);
  color: #B81920;
  text-align: left;
  align-self: flex-end;
  padding-bottom: 8vh;
  opacity: 0;
  position: relative;
  right: -8vh;
}

.brasil-container {
  min-height: 70vh;
  min-height: calc(var(--vh, 1vh) * 70);
  min-width: 68.6vh;
  min-width: calc(var(--vh, 1vh) * 68.6);
  position: relative;
  left: -4vh;
}

.brasil, .brasil-full {
  background: url('img/brasil.svg') no-repeat bottom;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
}

.brasil-full {
  background: url('img/brasil_full.svg') no-repeat bottom;
  opacity: 0;
  transition: opacity 0.5s;
}

@media only screen and (max-width: 800px) {
  .thirteenth-page .landing-page-content, .brasil-container, .thirteenth-page .landing-page-content .content {
      display: block;
  }

  .thirteenth-page .landing-page-content .content {
      left: 0;
      height: fit-content;
  }

  .brasil-container {
      min-width: 100%; 
      min-height: fit-content;
      height: 70vh;
  }

  .thirteenth-page {
      max-height: 200vh;
      max-height: calc(var(--vh, 1vh) * 200);
      height: 200vh;
      height: calc(var(--vh, 1vh) * 200);
  }
}

.encher {
  opacity: 1;
}

.fourteenth-page {
  background-image: url('img/kid_smiling.jpg');
}

.fourteenth-page h1 {
  font-family: 'ReservaSerifMedium';
  font-size: 4.1em;
  padding: 0.3em;    
}

.fourteenth-page h4 {
  font-family: 'ReservaSansBold';
  font-size: 1.1em;
  padding: 0.3em;
}

.fourteenth-page .rsv-text {
  font-family: 'ReservaSans';
  font-size: 1em;
  padding: 0.3em;
  line-height: 1.4em;
}

.fifteenth-page .heading {
  font-family: 'ReservaSansBold';
  font-size: 1.6em;
  padding-bottom: 3em;
}

.fifteenth-page .links {
  font-family: 'ReservaSansBold';
  font-size: 1.5em;
  line-height: 2em;
}

.fadein-text{
  opacity: 0;
  transform: translateY(50%);
  transition: all 1s;
  display: block;
}

@media only screen and (min-width: 600px) {
  .horizontal {
      position: fixed;
      display: block;
      z-index: 7;
      left: 100%;
      top: 40px;
  }

  .horizontal .landing-page-content {
      left:15%;
  }
}

@media only screen and (max-width: 599px) {
.horizontal-placeholder {
   display: none;
}
}

.fourteenth-page .landing-page-content{
  transform: translateY(-30%);
}

.third-page .landing-page-content {
  transform: translateY(0);
}

.page-fadein {
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
  opacity: 0;
  position: absolute;
  z-index: -1;
  transition: opacity 1s;
}

.page-fadein-back {
  opacity: 0.5;
}

.appear {
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.page-fadein-placeholder {
  height: 75vh;
  height: calc(var(--vh, 1vh) * 75);
}

.rectangle {
  width: 30%;
  height: 20vh;
  height: calc(var(--vh, 1vh) * 20);
  position: absolute;
  margin: auto;
  background-color: #E6E7E8;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
  opacity: 0;
}

.top-rect {
  transform: translate(-50%, -15vh);
  opacity: 1;
}

.bottom-rect {
  transform: translate(-50%, 15vh);
  opacity: 1;
}

.video-page {
  margin-top: 59px;
}

.fifteenth-page a, .fifteenth-page a:active, .fifteenth-page a:hover {
  text-decoration: none;
  color: black;
}

.horizontal, .horizontal-placeholder {
  height: calc((var(--vh, 1vh) * 100));
  background-color: transparent !important;
}

.horizontal2 {
  height: calc((var(--vh, 1vh) * 100));
}
