@font-face {
  font-family: 'DIN Next LT Pro';
  src: url('./fonts/DINNextLTPro-Medium.eot');
  src: url('./fonts/DINNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('./fonts/DINNextLTPro-Medium.woff') format('woff'),
      url('./fonts/DINNextLTPro-Medium.ttf') format('truetype'),
      url('./fonts/DINNextLTPro-Medium.svg#DINNextLTPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url('./fonts/DINNextLTPro-Bold.eot');
  src: url('./fonts/DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/DINNextLTPro-Bold.woff') format('woff'),
      url('./fonts/DINNextLTPro-Bold.ttf') format('truetype'),
      url('./fonts/DINNextLTPro-Bold.svg#DINNextLTPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url('./fonts/DINNextLTPro-Light.eot');
  src: url('./fonts/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
      url('./fonts/DINNextLTPro-Light.woff') format('woff'),
      url('./fonts/DINNextLTPro-Light.ttf') format('truetype'),
      url('./fonts/DINNextLTPro-Light.svg#DINNextLTPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}


// Fonts
$font: 'DIN Next LT Pro', sans-serif;

.cf:after {
  content: '';
  display: block;
  clear: both;
}

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin calcDesk($property, $value) {
  #{$property}: -moz-calc(0.85 * #{$value});
  #{$property}: -webkit-calc(0.85 * #{$value});
  #{$property}: calc(0.85 * #{$value});
}

@mixin calcLaptop($property, $value) {
  #{$property}: -moz-calc(0.73 * #{$value});
  #{$property}: -webkit-calc(0.73 * #{$value});
  #{$property}: calc(0.73 * #{$value});
}

@mixin calcSmallLaptop($property, $value) {
  #{$property}: -moz-calc(0.64 * #{$value});
  #{$property}: -webkit-calc(0.64 * #{$value});
  #{$property}: calc(0.64 * #{$value});
}

@mixin calcTablet($property, $value) {
  #{$property}: -moz-calc(0.51 * #{$value});
  #{$property}: -webkit-calc(0.51 * #{$value});
  #{$property}: calc(0.51 * #{$value});
}

// General
.reserva-mini-inverno * {
  font-family: $font;
}

.rm-title {
  margin-bottom: 40px;
  color: #090088;
  font-family: $font;
  font-size: 62px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 13px;
  text-transform: uppercase;

  &.white {
    color: #FFFFFF;
  }

  @media screen and (max-width: 1680px) {
    @include calcDesk(margin-bottom, 50px);
    @include calcDesk(font-size, 50px);
    letter-spacing: 5px;
  }

  @media screen and (max-width: 1440px) {
    @include calcLaptop(margin-bottom, 50px);
    @include calcLaptop(font-size, 50px);
    letter-spacing: 3px;
  }

  @media screen and (max-width: 1280px) {
    @include calcSmallLaptop(margin-bottom, 50px);
    @include calcSmallLaptop(font-size, 50px);
    letter-spacing: 1px;
  }

  @media screen and (max-width: 1024px) {
    @include calcTablet(margin-bottom, 50px);
    @include calcTablet(font-size, 50px);
  }
}

.rm-paragraph {
  margin-bottom: 80px;
  color: #090088;
  font-size: 25px;
  line-height: 1.3;
  font-weight: 500;

  &.white {
    color: #FFFFFF;
  }

  @media screen and (max-width: 1680px) {
    @include calcDesk(margin-bottom, 80px);
    @include calcDesk(font-size, 25px);
  }

  @media screen and (max-width: 1440px) {
    @include calcLaptop(margin-bottom, 80px);
    @include calcLaptop(font-size, 25px);
  }

  @media screen and (max-width: 1280px) {
    @include calcSmallLaptop(margin-bottom, 80px);
    @include calcSmallLaptop(font-size, 25px);
  }

  @media screen and (max-width: 1024px) {
    @include calcTablet(margin-bottom, 80px);
    @include calcTablet(font-size, 25px);
  }
}

.rm-btn {
  display: inline-block;
  width: 275px;
  height: 58px;
  background-color: #090088;
  color: #FFFFFF;
  font-family: $font;
  font-size: 23px;
  font-weight: 300;
  line-height: 61px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;

  &:hover {
    text-decoration: none;
    color: #FFFFFF;
  }

  &.white {
    background-color: #FFFFFF;
    color: #090088;

    &:hover {
      text-decoration: none;
      color: #090088;
    }
  }

  @media screen and (max-width: 1680px) {
    @include calcDesk(width, 235px);
    @include calcDesk(height, 58px);
    @include calcDesk(font-size, 30px);
    @include calcDesk(line-height, 61px);
  }

  @media screen and (max-width: 1440px) {
    @include calcLaptop(width, 235px);
    @include calcLaptop(height, 58px);
    @include calcLaptop(font-size, 30px);
    @include calcLaptop(line-height, 61px);
  }

  @media screen and (max-width: 1280px) {
    @include calcSmallLaptop(width, 235px);
    @include calcSmallLaptop(height, 58px);
    @include calcSmallLaptop(font-size, 30px);
    @include calcSmallLaptop(line-height, 61px);
  }

  @media screen and (max-width: 1024px) {
    @include calcTablet(width, 235px);
    @include calcTablet(height, 58px);
    @include calcTablet(font-size, 30px);
    @include calcTablet(line-height, 61px);
  }
}

.reserva-mini-inverno {
  overflow: hidden;
}

// HERO
.hero {
  clear: both;
  display: block;
  height: 84vh;
  width: 100%;
}

.video-hero {
  display: block;
  position: absolute;
  height: 84vh;
  width: 100%;
}

.intro {
  display: block;
  clear: both;
  position: relative;
  z-index: 2;
  height: 500px;
  width: 100%;

  @media screen and (max-width: 1680px) {
    @include calcDesk(height, 500px);
  }
  
  @media screen and (max-width: 1440px) {
    @include calcLaptop(height, 500px);
  }

  @media screen and (max-width: 1280px) {
    @include calcSmallLaptop(height, 500px);
  }

  @media screen and (max-width: 1024px) {
    @include calcTablet(height, 500px);
  }
}

.super-title {
  position: absolute;
  left: 115px;
  top: -196px;
  color: #090088;
  font-family: $font;
  font-size: 190px;
  line-height: 1;
  letter-spacing: -3px;
  text-transform: uppercase;
  font-weight: bold;

  span {
    display: block;
  }

  @media screen and (max-width: 1680px) {
    @include calcDesk(top, -170px);
    @include calcDesk(font-size, 160px);
  }

  @media screen and (max-width: 1440px) {
    @include calcLaptop(top, -170px);
    @include calcLaptop(font-size, 160px);
  }

  @media screen and (max-width: 1280px) {
    @include calcSmallLaptop(top, -175px);
    @include calcSmallLaptop(font-size, 160px);
  }

  @media screen and (max-width: 1024px) {
    @include calcTablet(top, -186px);
    @include calcTablet(font-size, 160px);
  }
}

.part-one {
  opacity: 0;
  @include transition(all 1s ease-in-out);
  @include transform(translate(0, 200px));

  &.active {
    opacity: 1;
    @include transform(translate(0, 0));
  }
}

.part-two {
  opacity: 0;
  @include transition(all 1s ease-in-out);
  @include transform(translate(0, 200px));

  &.active {
    opacity: 1;
    @include transform(translate(0, 0));
  }
}

.part-three {
  opacity: 0;
  @include transition(all 1s ease-in-out);
  @include transform(translate(0, 200px));

  &.active {
    opacity: 1;
    @include transform(translate(0, 0));
  }
}

.intro-paragraph {
  position: absolute;
  top: 211px;
  right: 211px;
  width: 730px;

  @media screen and (max-width: 1680px) {
    top: 155px;
    @include calcDesk(right, 115px);
    @include calcDesk(width, 730px);
  }
  
  @media screen and (max-width: 1440px) {
    top: 135px;
    @include calcLaptop(right, 115px);
    @include calcLaptop(width, 730px);
  }

  @media screen and (max-width: 1280px) {
    top: 110px;
    @include calcSmallLaptop(right, 115px);
    @include calcSmallLaptop(width, 730px);
  }

  @media screen and (max-width: 1024px) {
    top: 90px;
    @include calcTablet(right, 115px);
    @include calcTablet(width, 730px);
  }
}

// TSHIRTS
.tshirts {
  display: block;
  width: 100%;
  height: 1000px;

  @media screen and (max-width: 1680px) {
    @include calcDesk(height, 1000px);
  }
  
  @media screen and (max-width: 1440px) {
    @include calcLaptop(height, 1000px);
  }

  @media screen and (max-width: 1280px) {
    @include calcSmallLaptop(height, 1000px);
  }

  @media screen and (max-width: 1024px) {
    @include calcTablet(height, 1000px);
  }
}

.bg-tshirts {
  position: relative;
  display: block;
  width: 80%;

  .tshirts-img-1 {
    display: block;
    width: 100%;
  }

  .rm-cta {
    position: absolute;
    top: 160px;
    left: 115px;
    width: 480px;

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, 160px);
      @include calcDesk(left, 115px);
      @include calcDesk(width, 480px);
    }
    
    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, 160px);
      @include calcLaptop(left, 115px);
      @include calcLaptop(width, 480px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, 160px);
      @include calcSmallLaptop(left, 115px);
      @include calcSmallLaptop(width, 480px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, 160px);
      @include calcTablet(left, 115px);
      @include calcTablet(width, 480px);
    }
  }

  .tshirts-title {
    opacity: 0;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(0, 50px));

    &.active {
      opacity: 1;
      @include transform(translate(0, 0));
    }
  }
  
  .tshirts-paragraph {
    width: 380px;
    opacity: 0;
    @include transition(opacity 0.6s ease-in-out);

    &.active {
      opacity: 1;
    }

    @media screen and (max-width: 1680px) {
      @include calcDesk(width, 380px);
    }
    
    @media screen and (max-width: 1440px) {
      @include calcLaptop(width, 380px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(width, 380px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(width, 380px);
    }
  }

  .tshirts-img-2 {
    display: block;
    position: absolute;
    z-index: 2;
    top: 77px;
    right: -97px;
    width: 443px;
    height: 660px;
    background: transparent url('./images/tshirts-2.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
    background-position: -443px 0px;
    opacity: 0;
    @include transition(all 0.6s ease-in-out);

    &.active {
      opacity: 1;
      background-position: 0px 0px;
    }

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, 77px);
      @include calcDesk(right, -97px);
      @include calcDesk(width, 443px);
      @include calcDesk(height, 663px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, 77px);
      @include calcLaptop(right, -97px);
      @include calcLaptop(width, 443px);
      @include calcLaptop(height, 663px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, 77px);
      @include calcSmallLaptop(right, -97px);
      @include calcSmallLaptop(width, 443px);
      @include calcSmallLaptop(height, 663px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, 77px);
      @include calcTablet(right, -97px);
      @include calcTablet(width, 443px);
      @include calcTablet(height, 663px);
    }
  }

  .tshirts-img-3 {
    display: block;
    position: absolute;
    z-index: 2;
    top: 547px;
    right: -255px;
    width: 334px;
    opacity: 0;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(100%, 0));

    &.active {
      opacity: 1;
      @include transform(translate(0, 0));
    }

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, 547px);
      @include calcDesk(right, -255px);
      @include calcDesk(width, 334px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, 547px);
      @include calcLaptop(right, -255px);
      @include calcLaptop(width, 334px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, 547px);
      @include calcSmallLaptop(right, -255px);
      @include calcSmallLaptop(width, 334px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, 547px);
      @include calcTablet(right, -255px);
      @include calcTablet(width, 334px);
    }
  }
}

// SHORTS
.shorts {
  position: relative;
  height: 1000px;

  @media screen and (max-width: 1680px) {
    @include calcDesk(height, 1000px);
  }
  
  @media screen and (max-width: 1440px) {
    @include calcLaptop(height, 1000px);
  }

  @media screen and (max-width: 1280px) {
    @include calcSmallLaptop(height, 1000px);
  }

  @media screen and (max-width: 1024px) {
    @include calcTablet(height, 1000px);
  }
  
  .rm-cta {
    position: absolute;
    top: 260px;
    left: 755px;
    width: 540px;

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, 260px);
      @include calcDesk(left, 755px);
      @include calcDesk(width, 540px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, 260px);
      @include calcLaptop(left, 755px);
      @include calcLaptop(width, 540px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, 260px);
      @include calcSmallLaptop(left, 755px);
      @include calcSmallLaptop(width, 540px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, 260px);
      @include calcTablet(left, 755px);
      @include calcTablet(width, 540px);
    }
  }

  .shorts-title {
    opacity: 0;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(200px, 0));

    &.active {
      opacity: 1;
      @include transform(translate(0, 0));
    }
  }

  .shorts-paragraph {
    opacity: 0;
    @include transition(opacity 0.6s ease-in-out);
    width: 420px;

    &.active {
      opacity: 1;
    }

    @media screen and (max-width: 1680px) {
      @include calcDesk(width, 420px);
    }
    
    @media screen and (max-width: 1440px) {
      @include calcLaptop(width, 420px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(width, 420px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(width, 420px);
    }
  }
  
  .shorts-img-1 {
    display: block;
    position: absolute;
    top: -90px;
    left: 115px;
    width: 553px;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(0, 200px));

    &.active {
      @include transform(translate(0, 0));
    }

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, -60px);
      @include calcDesk(left, 115px);
      @include calcDesk(width, 553px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, -60px);
      @include calcLaptop(left, 115px);
      @include calcLaptop(width, 553px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, -60px);
      @include calcSmallLaptop(left, 115px);
      @include calcSmallLaptop(width, 553px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, -60px);
      @include calcTablet(left, 115px);
      @include calcTablet(width, 553px);
    }
  }

  .shorts-img-2 {
    display: block;
    position: absolute;
    top: 420px;
    right: 0px;
    width: 518px;
    opacity: 0;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(518px, 0));

    &.active {
      opacity: 1;
      @include transform(translate(0, 0));
    }

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, 420px);
      @include calcDesk(width, 518px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, 420px);
      @include calcLaptop(width, 518px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, 420px);
      @include calcSmallLaptop(width, 518px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, 420px);
      @include calcTablet(width, 518px);
    }
  }
}

// SHOES
.shoes {
  position: relative;
  display: block;
  width: 100%;
  height: 1000px;

  @media screen and (max-width: 1680px) {
    @include calcDesk(height, 1000px);
  }
  
  @media screen and (max-width: 1440px) {
    @include calcLaptop(height, 1000px);
  }

  @media screen and (max-width: 1280px) {
    @include calcSmallLaptop(height, 1000px);
  }

  @media screen and (max-width: 1024px) {
    @include calcTablet(height, 1000px);
  }
}

.bg-shoes {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 83%;

  .shoes-img-1 {
    display: block;
    width: 100%;
  }

  .rm-cta {
    position: absolute;
    top: 254px;
    left: 710px;

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, 254px);
      @include calcDesk(left, 710px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, 254px);
      @include calcLaptop(left, 710px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, 254px);
      @include calcSmallLaptop(left, 710px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, 254px);
      @include calcTablet(left, 710px);
    }
  }

  .shoes-title {
    opacity: 0;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(-100px, 100px));

    &.active {
      opacity: 1;
      @include transform(translate(0, 0));
    }
  }

  .shoes-paragraph {
    width: 300px;
    margin-left: 275px;
    opacity: 0;
    @include transition(opacity 0.6s ease-in-out);

    &.active {
      opacity: 1;
    }

    @media screen and (max-width: 1680px) {
      @include calcDesk(width, 300px);
      @include calcDesk(margin-left, 275px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(width, 300px);
      @include calcLaptop(margin-left, 275px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(width, 300px);
      @include calcSmallLaptop(margin-left, 275px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(width, 300px);
      @include calcTablet(margin-left, 275px);
    }
  }

  .rm-btn {
    margin-left: 275px;

    @media screen and (max-width: 1680px) {
      @include calcDesk(margin-left, 275px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(margin-left, 275px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(margin-left, 275px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(margin-left, 275px);
    }
  }

  .shoes-img-2 {
    position: absolute;
    z-index: 2;
    top: 120px;
    left: -300px;
    display: block;
    width: 938px;
    height: 650px;
    opacity: 0;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(-300px, 300px));

    &.active {
      opacity: 1;
      @include transform(translate(0, 0));
    }

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, 120px);
      @include calcDesk(left, -300px);
      @include calcDesk(width, 938px);
      @include calcDesk(height, 650px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, 120px);
      @include calcLaptop(left, -300px);
      @include calcLaptop(width, 938px);
      @include calcLaptop(height, 650px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, 120px);
      @include calcSmallLaptop(left, -300px);
      @include calcSmallLaptop(width, 938px);
      @include calcSmallLaptop(height, 650px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, 120px);
      @include calcTablet(left, -300px);
      @include calcTablet(width, 938px);
      @include calcTablet(height, 650px);
    }
  }

  .shoes-img-3 {
    position: absolute;
    z-index: 2;
    top: 400px;
    left: 400px;
    display: block;
    width: 539px;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(0, 200px));

    &.active {
      @include transform(translate(0, 0));
    }

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, 400px);
      @include calcDesk(left, 400px);
      @include calcDesk(width, 539px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, 400px);
      @include calcLaptop(left, 400px);
      @include calcLaptop(width, 539px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, 400px);
      @include calcSmallLaptop(left, 400px);
      @include calcSmallLaptop(width, 539px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, 400px);
      @include calcTablet(left, 400px);
      @include calcTablet(width, 539px);
    }
  }
}

// BABIES
.babies {
  position: relative;
  height: 1000px;

  @media screen and (max-width: 1680px) {
    @include calcDesk(height, 1000px);
  }
  
  @media screen and (max-width: 1440px) {
    @include calcLaptop(height, 1000px);
  }

  @media screen and (max-width: 1280px) {
    @include calcSmallLaptop(height, 1000px);
  }

  @media screen and (max-width: 1024px) {
    @include calcTablet(height, 1000px);
  }
  
  .rm-cta {
    position: relative;
    top: 240px;
    margin: 0 auto;
    width: 396px;
    text-align: center;

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, 240px);
      @include calcDesk(width, 432px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, 240px);
      @include calcLaptop(width, 432px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, 240px);
      @include calcSmallLaptop(width, 432px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, 240px);
      @include calcTablet(width, 432px);
    }
  }
  
  .babies-title,
  .babies-paragraph {
    opacity: 0;
    @include transition(opacity 0.6s ease-in-out);

    &.active {
      opacity: 1;
    }
  }
  
  .babies-img-1 {
    display: block;
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 115px;
    width: 367px;
    opacity: 0;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(-100%, 0));

    &.active {
      opacity: 1;
      @include transform(translate(0, 0));
    }

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, 100px);
      @include calcDesk(left, 115px);
      @include calcDesk(width, 293px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, 100px);
      @include calcLaptop(left, 115px);
      @include calcLaptop(width, 293px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, 100px);
      @include calcSmallLaptop(left, 115px);
      @include calcSmallLaptop(width, 293px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, 100px);
      @include calcTablet(left, 115px);
      @include calcTablet(width, 293px);
    }
  }

  .babies-img-2 {
    display: block;
    position: absolute;
    z-index: 1;
    top: 400px;
    left: 365px;
    width: 309px;
    opacity: 0;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(100%, 0));

    &.active {
      opacity: 1;
      @include transform(translate(0, 0));
    }

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, 400px);
      @include calcDesk(left, 365px);
      @include calcDesk(width, 309px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, 400px);
      @include calcLaptop(left, 365px);
      @include calcLaptop(width, 309px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, 400px);
      @include calcSmallLaptop(left, 365px);
      @include calcSmallLaptop(width, 309px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, 400px);
      @include calcTablet(left, 365px);
      @include calcTablet(width, 309px);
    }
  }

  .babies-img-3 {
    display: block;
    position: absolute;
    top: 100px;
    right: 40px;
    width: 640px;
    height: 758px;
    opacity: 0;
    @include transition(all 0.6s ease-in-out);

    &.active {
      opacity: 1;
    }

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, 100px);
      @include calcDesk(right, 40px);
      @include calcDesk(width, 640px);
      @include calcDesk(height, 758px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, 100px);
      @include calcLaptop(right, 40px);
      @include calcLaptop(width, 640px);
      @include calcLaptop(height, 758px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, 100px);
      @include calcSmallLaptop(right, 40px);
      @include calcSmallLaptop(width, 640px);
      @include calcSmallLaptop(height, 758px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, 100px);
      @include calcTablet(right, 40px);
      @include calcTablet(width, 640px);
      @include calcTablet(height, 758px);
    }
  }
}

// SHIRTS
.shirts {
  display: block;
  width: 100%;
  height: 1000px;

  @media screen and (max-width: 1680px) {
    @include calcDesk(height, 1000px);
  }
  
  @media screen and (max-width: 1440px) {
    @include calcLaptop(height, 1000px);
  }

  @media screen and (max-width: 1280px) {
    @include calcSmallLaptop(height, 1000px);
  }

  @media screen and (max-width: 1024px) {
    @include calcTablet(height, 1000px);
  }
}

.bg-shirts {
  position: relative;
  display: block;
  width: 63%;
  height: 100%;

  .shirts-img-1 {
    display: block;
    width: 100%;
    height: 100%;
  }

  .rm-cta {
    position: absolute;
    top: 340px;
    left: 285px;
    width: 560px;

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, 340px);
      @include calcDesk(left, 285px);
      @include calcDesk(width, 560px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, 340px);
      @include calcLaptop(left, 285px);
      @include calcLaptop(width, 560px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, 340px);
      @include calcSmallLaptop(left, 285px);
      @include calcSmallLaptop(width, 560px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, 340px);
      @include calcTablet(left, 285px);
      @include calcTablet(width, 560px);
    }
  }

  .shirts-title {
    opacity: 0;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(0, 50px));

    &.active {
      opacity: 1;
      @include transform(translate(0, 0));
    }
  }

  .shirts-paragraph {
    opacity: 0;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(0, 50px));

    &.active {
      opacity: 1;
      @include transform(translate(0, 0));
    }
  }

  .shirts-img-2 {
    position: absolute;
    z-index: 2;
    top: 40px;
    right: -350px;
    display: block;
    width: 700px;
    height: 860px;
    opacity: 0;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(0, 150px));

    &.active {
      opacity: 1;
      @include transform(translate(0, 0));
    }

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, 40px);
      @include calcDesk(right, -350px);
      @include calcDesk(width, 700px);
      @include calcDesk(height, 860px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, 40px);
      @include calcLaptop(right, -350px);
      @include calcLaptop(width, 700px);
      @include calcLaptop(height, 860px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, 40px);
      @include calcSmallLaptop(right, -350px);
      @include calcSmallLaptop(width, 700px);
      @include calcSmallLaptop(height, 860px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, 40px);
      @include calcTablet(right, -350px);
      @include calcTablet(width, 700px);
      @include calcTablet(height, 860px);
    }
  }
}

// SHORTS
.pants {
  position: relative;
  height: 1000px;

  @media screen and (max-width: 1680px) {
    @include calcDesk(height, 1000px);
  }
  
  @media screen and (max-width: 1440px) {
    @include calcLaptop(height, 1000px);
  }

  @media screen and (max-width: 1280px) {
    @include calcSmallLaptop(height, 1000px);
  }

  @media screen and (max-width: 1024px) {
    @include calcTablet(height, 1000px);
  }
  
  .rm-cta {
    position: relative;
    top: 260px;
    width: 380px;
    margin: 0 auto;

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, 260px);
      @include calcDesk(width, 350px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, 260px);
      @include calcLaptop(width, 350px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, 260px);
      @include calcSmallLaptop(width, 350px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, 260px);
      @include calcTablet(width, 350px);
    }
  }

  .pants-title {
    opacity: 0;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(0, 50px));

    &.active {
      opacity: 1;
      @include transform(translate(0, 0));
    }
  }

  .pants-paragraph {
    opacity: 0;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(0, 50px));

    &.active {
      opacity: 1;
      @include transform(translate(0, 0));
    }
  }
  
  .pants-img-1 {
    display: block;
    position: absolute;
    top: 90px;
    left: 90px;
    width: 553px;
    opacity: 0;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(0, 150px));

    &.active {
      opacity: 1;
      @include transform(translate(0, 0));
    }

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, 90px);
      @include calcDesk(left, 90px);
      @include calcDesk(width, 553px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, 90px);
      @include calcLaptop(left, 90px);
      @include calcLaptop(width, 553px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, 90px);
      @include calcSmallLaptop(left, 90px);
      @include calcSmallLaptop(width, 553px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, 90px);
      @include calcTablet(left, 90px);
      @include calcTablet(width, 553px);
    }
  }

  .pants-img-2 {
    display: block;
    position: absolute;
    top: -60px;
    right: 115px;
    width: 518px;
    opacity: 0;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(0, 150px));

    &.active {
      opacity: 1;
      @include transform(translate(0, 0));
    }

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, -60px);
      @include calcDesk(right, 115px);
      @include calcDesk(width, 518px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, -60px);
      @include calcLaptop(right, 115px);
      @include calcLaptop(width, 518px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, -60px);
      @include calcSmallLaptop(right, 115px);
      @include calcSmallLaptop(width, 518px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, -60px);
      @include calcTablet(right, 115px);
      @include calcTablet(width, 518px);
    }
  }
}

// SHOES
.coats {
  position: relative;
  display: block;
  width: 100%;
  height: 1000px;

  @media screen and (max-width: 1680px) {
    @include calcDesk(height, 1000px);
  }
  
  @media screen and (max-width: 1440px) {
    @include calcLaptop(height, 1000px);
  }

  @media screen and (max-width: 1280px) {
    @include calcSmallLaptop(height, 1000px);
  }

  @media screen and (max-width: 1024px) {
    @include calcTablet(height, 1000px);
  }
}

.bg-coats {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 80%;

  .coats-img-1 {
    display: block;
    width: 100%;
  }

  .rm-cta {
    position: absolute;
    top: 254px;
    left: 410px;

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, 254px);
      @include calcDesk(left, 410px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, 254px);
      @include calcLaptop(left, 410px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, 254px);
      @include calcSmallLaptop(left, 410px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, 254px);
      @include calcTablet(left, 410px);
    }
  }

  .coats-title {
    opacity: 0;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(50px, 0));

    &.active {
      opacity: 1;
      @include transform(translate(0, 0));
    }
  }

  .coats-paragraph {
    width: 348px;
    font-size: 30px;
    opacity: 0;
    @include transition(opacity 1s ease-in-out);

    &.active {
      opacity: 1;
    }

    @media screen and (max-width: 1680px) {
      @include calcDesk(width, 360px);
      @include calcDesk(font-size, 30px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(width, 360px);
      @include calcLaptop(font-size, 30px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(width, 360px);
      @include calcSmallLaptop(font-size, 30px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(width, 360px);
      @include calcTablet(font-size, 30px);
    }
  }

  .coats-img-2 {
    display: block;
    position: absolute;
    z-index: 2;
    top: 120px;
    left: -180px;
    width: 501px;
    opacity: 0;
    @include transition(all 0.6s ease-in-out);
    @include transform(translate(-100%, 0));

    &.active {
      opacity: 1;
      @include transform(translate(0, 0));
    }

    @media screen and (max-width: 1680px) {
      @include calcDesk(top, 120px);
      @include calcDesk(left, -180px);
      @include calcDesk(width, 501px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(top, 120px);
      @include calcLaptop(left, -180px);
      @include calcLaptop(width, 501px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(top, 120px);
      @include calcSmallLaptop(left, -180px);
      @include calcSmallLaptop(width, 501px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(top, 120px);
      @include calcTablet(left, -180px);
      @include calcTablet(width, 501px);
    }
  }
}

// SOCIAL MEDIA
.social-media {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 100px;
}

.col-social-media {
  text-align: center;

  &:first-child {
    margin-right: 100px;

    @media screen and (max-width: 1680px) {
      @include calcDesk(margin-right, 100px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(margin-right, 100px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(margin-right, 100px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(margin-right, 100px);
    }
  }

  &:last-child {
    margin-left: 100px;

    @media screen and (max-width: 1680px) {
      @include calcDesk(margin-right, 100px);
    }

    @media screen and (max-width: 1440px) {
      @include calcLaptop(margin-right, 100px);
    }

    @media screen and (max-width: 1280px) {
      @include calcSmallLaptop(margin-right, 100px);
    }

    @media screen and (max-width: 1024px) {
      @include calcTablet(margin-right, 100px);
    }
  }
}

.rm-title-social {
  display: block;
  margin-bottom: 80px;
  color: #090088;
  font-family: $font;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 13px;
  text-transform: uppercase;
  opacity: 0;
  @include transition(all 0.6s ease-in-out);
  @include transform(translate(100%, 0));

  &.active {
    opacity: 1;
    @include transform(translate(0, 0));
  }

  @media screen and (max-width: 1680px) {
    @include calcDesk(margin-bottom, 100px);
    @include calcDesk(font-size, 36px);
    @include calcDesk(letter-spacing, 13px);
  }

  @media screen and (max-width: 1440px) {
    @include calcLaptop(margin-bottom, 100px);
    @include calcLaptop(font-size, 36px);
    @include calcLaptop(letter-spacing, 13px);
  }

  @media screen and (max-width: 1280px) {
    @include calcSmallLaptop(margin-bottom, 100px);
    @include calcSmallLaptop(font-size, 36px);
    @include calcSmallLaptop(letter-spacing, 13px);
  }

  @media screen and (max-width: 1024px) {
    @include calcTablet(margin-bottom, 100px);
    @include calcTablet(font-size, 36px);
    @include calcTablet(letter-spacing, 13px);
  }
}

.rm-spotify,
.rm-instagram {
  display: block;
  width: 440px;
  margin-bottom: 60px;
  background-color: #7F7F7F;

  @media screen and (max-width: 1680px) {
    @include calcDesk(width, 440px);
    @include calcDesk(height, 440px);
    @include calcDesk(margin-bottom, 60px);
  }

  @media screen and (max-width: 1440px) {
    @include calcLaptop(width, 440px);
    @include calcLaptop(height, 440px);
    @include calcLaptop(margin-bottom, 60px);
  }

  @media screen and (max-width: 1280px) {
    @include calcSmallLaptop(width, 440px);
    @include calcSmallLaptop(height, 440px);
    @include calcSmallLaptop(margin-bottom, 60px);
  }

  @media screen and (max-width: 1024px) {
    @include calcTablet(width, 440px);
    @include calcTablet(height, 440px);
    @include calcTablet(margin-bottom, 60px);
  }
}







