@import url(https://fonts.googleapis.com/css?family=Acme);

.landing-mamonas {

  .wrap {
    max-width: 1366px;
    margin: 0 auto;
  }

  #sliderPrincipal {
    width: 100%;
    height: calc(100vh - 215px);
  }

  .banner01 {
    background-image: url('//imagens.usereserva.com.br/usereserva/colabe/mamonas/reserva_desk_landing_mamonas_1.jpg');
  }
  .banner02 {
    background-image: url('//imagens.usereserva.com.br/usereserva/colabe/mamonas/reserva_desk_landing_mamonas_2.jpg');
  }
  .banner03 {
    background-image: url('//imagens.usereserva.com.br/usereserva/colabe/mamonas/reserva_desk_landing_mamonas_3.jpg');
  }
  .banner04 {
    background-image: url('//imagens.usereserva.com.br/usereserva/colabe/mamonas/reserva_desk_landing_mamonas_4.jpg');
  }
  .banner05 {
    background-image: url('//imagens.usereserva.com.br/usereserva/colabe/mamonas/reserva_desk_landing_mamonas_5.jpg');
  }

  /* Swiper */
  .swiper-container {
    width: 100%;
    max-width: calc(100vw - 8px);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  .swiper-wrapper {
    height: auto;
  }

  .swiper-slide {
    text-align: center;
    background: #fff;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

      a {
        display: block;
        margin: 0 auto;
        width: 100%;
      }

      img {
        display: block;
        margin: 0 auto;
        width: 100%;
      }
  }

  .img-fill {
      width: 100%;
      height: 100%;
      display: block;
      overflow: hidden;
      position: absolute;
      top: 0;
      text-align: center;

      background-position: center;
      background-size: cover;

      img {
        width: auto;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        position: relative;
        display: inline-block;
        max-width: none;
        text-align: center;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
      }
  }

  #nextSlide {
      position:absolute;
      right:0px;
      width:60px;
      height: 60px;
      background:rgba(255,255,255,1);
      border:0 none;
      top: 50%;
      transform: translateY(-50%);
      text-align:center;
      font:32px/58px Acme;
      color:#000;
      z-index:5;
      cursor:pointer;
      transition:all 0.5s;
      outline: 0;

      &:before {content:'>'; display: block;}
  }

  #prevSlide {
      position:absolute;
      left:0px;
      width:60px;
      height: 60px;
      background:rgba(255,255,255,1);
      border:0 none;
      top: 50%;
      transform: translateY(-50%);
      text-align:center;
      font:32px/58px Acme;
      color:#000;
      z-index:5;
      cursor:pointer;
      -webkit-transition:all 0.5s;
      transition:all 0.5s;
      outline: 0;

      &:before {content:'<'; display: block;}
  }

  .swiper-pagination {
      position: absolute;
      text-align: center;
      -webkit-transition: .3s opacity;
      -o-transition: .3s opacity;
      transition: .3s opacity;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      z-index: 10;
      font-size: 14px;
  }

  .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: #000;
  }

  .swiper-pagination-bullet-active-main {
    background-color: #000;
  }
  /* End Swiper */

  .btnComprarScroll {
    position: absolute;
    z-index: 2;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
  }

  .bannerlink{
    text-decoration: none;
    color: currentColor;
  }

  #scrollComprar {
    width: 100%;
    height: 60px;
  }

  #textoMamonas {
    text-align: center;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    line-height: 1.2;
    max-width: 1090px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

}
