/* Webfont: ReservaSerif-Medium */@font-face {
    font-family: 'ReservaSerifMedium';
    src: url('ReservaSerif-Medium.eot'); /* IE9 Compat Modes */
    src: url('ReservaSerif-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('ReservaSerif-Medium.woff') format('woff'), /* Modern Browsers */
         url('ReservaSerif-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('ReservaSerif-Medium.svg#ReservaSerif-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

