/* Webfont: ReservaSerif-Regular */@font-face {
    font-family: 'ReservaSerif';
    src: url('ReservaSerif-Regular.eot'); /* IE9 Compat Modes */
    src: url('ReservaSerif-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('ReservaSerif-Regular.woff') format('woff'), /* Modern Browsers */
         url('ReservaSerif-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('ReservaSerif-Regular.svg#ReservaSerif-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

