/* Webfont: ReservaSans-LightItalic */@font-face {
    font-family: 'ReservaSansLight';
    src: url('ReservaSans-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('ReservaSans-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('ReservaSans-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('ReservaSans-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('ReservaSans-LightItalic.svg#ReservaSans-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

