/* Webfont: ReservaSans-Thin */@font-face {
    font-family: 'ReservaSansThin';
    src: url('ReservaSans-Thin.eot'); /* IE9 Compat Modes */
    src: url('ReservaSans-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('ReservaSans-Thin.woff') format('woff'), /* Modern Browsers */
         url('ReservaSans-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
         url('ReservaSans-Thin.svg#ReservaSans-Thin') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

