/* Basic configurations */

$bootstrap-sass-asset-helper: false !default;

// Variables
// --------------------------------------------------


//Font Paths
// $fonts_path               : "/Content/fonts/" !default;

/* Layout */
$containerW: 1200px;
$containerPad: 10px;
$padd_bottom_contents: 90px;


/* Colors */


$orange: #f37835;
$blue_default: #3a48a9;
$gray_default: #f2f2f2;
$gray_light: #efefe2;
$gray_text: #888888;
$gray1: #56565c;
$green: #63ae5d;
$green_light: #bdcaae;
$red: #a94442;

$blue_light: #1d9495;
$blue_lighter: #22acae;


/* Fonts */
$font-dark: black;
$font-light: white;
